{% extends 'base.html.twig' %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <div class="payment">
                    <div class="payment_header">
                        <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
                    </div>
                    <div class="content">
                        <h1>We recieved your message;</h1>
                        <p>we'll be in touch shortly</p>
                        <a href="{{ path('app_default') }}">Take me Home</a>
                    </div>

                </div>
            </div>
        </div>
    </div>







{% endblock %}